 <footer class="page-footer font-small blue pt-4 text-center">
    Welcome! please choose your operation below.
    <div class="container-fluid text-center text-md-left">
      <div class="row">
        <div class="col-md-6 mt-md-0 mt-3">
        </div>
        <hr class="clearfix w-100 d-md-none pb-3">
      </div>
    </div>
    <div class="footer-copyright text-center py-3">© 2020 Made by:
      <a href="https://github.com/eliran0220"> Eliran Darshan</a>
    </div>
  </footer>

<app-item-list></app-item-list>